*, *:before, *:after {
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
}

html {
  scroll-padding-top: 88px;
}

body {
  color: #070707;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  height: 88px;
  width: 100%;
  background-color: #ffff;
  z-index: 99;
}

nav hr {
  color: #828282;
  height: 1px;
  background-color: #828282;
  border: none;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul a {
  color: #828282;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

nav ul .active {
  color: black;
}

#Home {
  margin-top: 20px;
}

#Home .burger {
  display: none;
}

#Home .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

#Home .profile .profile__name {
  font-weight: bold;
  font-size: 47px;
  line-height: 58px;
  translate: 0 13px;
}

#Home .profile .profile__info {
  font-size: 18px;
  line-height: 22px;
}

#Home .profile span {
  color: #828282;
}

#Home .profile .profile__leng {
  -webkit-transform: rotate(-90deg) translateY(26px) translateX(25px);
          transform: rotate(-90deg) translateY(26px) translateX(25px);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

#Home picture img {
  padding-top: 50px;
  width: 100%;
}

#About-me {
  margin-top: 104px;
  background: #ad2ad2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(173, 42, 210, 0.55084)), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(180deg, rgba(173, 42, 210, 0.55084) 40%, rgba(0, 212, 255, 0) 100%);
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
  background-color: #F6F6F6;
  background-size: 100% 0%;
  background-repeat: no-repeat;
}

#About-me .About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 120px 0 107px 0;
}

#About-me .About h2 {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}

#About-me .About p {
  font-size: 18px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#About-me:hover {
  background-size: 100% 100%;
}

#Skills .opportunities {
  text-align: center;
  padding-top: 91px;
}

#Skills .opportunities h2 {
  font-size: 34px;
  line-height: 42px;
  font-weight: bold;
}

#Skills .opportunities p {
  font-size: 18px;
  line-height: 22px;
  padding: 69px 0 83px 0;
}

#Skills .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Skills .items .items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Skills .items .items__item img {
  max-height: 89px;
  max-width: 89px;
}

#Skills .items .items__item p {
  padding: 24px 0 40px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  color: #828282;
}

#Skills .items .items__item .stars {
  margin-bottom: 0;
}

#Skills .items .items__item .stars .black {
  -webkit-animation: stars  2s infinite;
          animation: stars  2s infinite;
}

@-webkit-keyframes stars {
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

@keyframes stars {
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}

#Skills .items .items__item .stars img {
  padding: 4.5px;
  width: 26px;
  height: 26px;
}

#Portfolio {
  margin-top: 110px;
  background-color: #F6F6F6;
}

#Portfolio .opportunities {
  text-align: center;
  padding: 112px 0 47px 0;
}

#Portfolio .opportunities h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
}

#Portfolio .elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#Portfolio .elements .elements__elem img {
  width: 100%;
  cursor: pointer;
}

#Portfolio .elements .elements__elem img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#Portfolio .elements .elements__elem img:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

#Portfolio .elements .elements__elem p {
  padding: 45px 0 99px 0;
  cursor: pointer;
}

#Portfolio .elements .elements__elem .elem-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #070707;
}

#Contacts .info {
  text-align: center;
  padding: 114px 0 123px 0;
}

#Contacts .info h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  padding-bottom: 20px;
}

#Contacts .info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 29px;
}

#Contacts .info .btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #070707;
  padding: 13px 29px;
  border-radius: 50px;
  cursor: pointer;
}

#Contacts .info .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 342px;
  margin: auto;
  padding: 85px 0 45px 0;
}

#Contacts .info .social a {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#Contacts .info .social .instagramm {
  background: url(img/instagramm.svg) center no-repeat;
}

#Contacts .info .social .instagramm:hover {
  background: url(img/instagramm-color.svg) center no-repeat;
}

#Contacts .info .social .telegramm {
  background: url(img/telegramm.svg) center no-repeat;
}

#Contacts .info .social .telegramm:hover {
  background: url(img/telegramm-color.svg) center no-repeat;
}

#Contacts .info .social .vk {
  background: url(img/vk.svg) center no-repeat;
}

#Contacts .info .social .vk:hover {
  background: url(img/vk-color.svg) center no-repeat;
}

#Contacts .info .social .discord {
  background: url(img/discord.svg) center no-repeat;
}

#Contacts .info .social .discord:hover {
  background: url(img/discord-color.svg) center no-repeat;
}

#Contacts .info .wish {
  color: #828282;
}

#Contacts .info .wish p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.wrapper {
  height: 100%;
  margin: auto;
  width: 940px;
}

@media screen and (min-width: 375px) and (max-width: 600px) {
  header {
    display: none;
  }
  #Home {
    margin-top: 64px;
  }
  #Home .burger {
    display: block;
    position: absolute;
    width: 33px;
    height: 19.19px;
    right: 30px;
    top: 68px;
    cursor: pointer;
  }
  #Home .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #Home .profile .profile__info {
    padding: 23px 0 37px;
  }
  #Home .profile .profile__leng {
    display: none;
  }
  #Home picture img {
    padding-top: 0;
  }
  #About-me {
    margin-top: 83px;
  }
  #About-me .About {
    padding: 81px 0 76px 0;
  }
  #About-me .About p {
    word-break: inherit;
  }
  #About-me .About p br {
    display: none;
  }
  #Skills {
    margin-top: 83px;
    margin-bottom: 17px;
  }
  #Skills .opportunities p {
    padding: 50px 0 71px 0;
  }
  #Skills .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  #Skills .items .items__item {
    padding-bottom: 81px;
  }
  #Portfolio {
    margin: 81px 0 3px;
  }
  #Portfolio .opportunities {
    padding-bottom: 65px;
  }
  #Portfolio .elements .elements__elem p {
    padding: 33px 0 78px 0;
  }
  #Contacts {
    margin: 82px 0 90px;
  }
  #Contacts .info p {
    padding: 27px 0 40px;
  }
  #Contacts .info .btn {
    padding: 10px 85px;
    border-radius: 50px;
  }
  #Contacts .info .social {
    width: 315px;
  }
  .wrapper {
    height: 100%;
    margin: auto;
    width: 316px;
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  .wrapper {
    height: 100%;
    margin: auto;
    width: 580px;
  }
}
/*# sourceMappingURL=style.css.map */