*, *:before, *:after {
	padding: 0;
	margin: 0;
	font-family: "Gilroy";
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	cursor: default;
}

html {
	scroll-padding-top: 88px;
}

body {
	color: #070707;
}

header {
	position: sticky;
	top:0%;
	height: 88px;
	width: 100%;
	background-color: #ffff;
	z-index: 99;
}

nav {
	hr {
		color: #828282;
		height: 1px;
		background-color: #828282;
		border: none;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	ul {
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;

		a {
			color: #828282;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			cursor: pointer;
		}

		.active {
			color: black;
		}
	}
}

#Home {
	margin-top: 20px;

	.burger {
		display: none;
	}

	.profile {
		display: flex;
		justify-content: space-between;
		align-items: end;

		.profile__name {
			font-weight: bold;
			font-size: 47px;
			line-height: 58px;
			translate: 0 13px;
		}

		.profile__info {
			font-size: 18px;
			line-height: 22px;
		}

		span {
			color: #828282;
		}

		.profile__leng {
			transform: rotate(-90deg) translateY(26px) translateX(25px);
			font-weight: bold;
			font-size: 16px;
			line-height: 20px;
		}
	}

	picture {

		img {
		padding-top: 50px;
		width: 100%;
		}
	}
}


#About-me {
	margin-top: 104px;
	background: rgb(173,42,210);
	background: linear-gradient(180deg, rgba(173,42,210,0.5508403190377713) 40%, rgba(0,212,255,0) 100%);
	transition: 3s ease-in;
	background-color: #F6F6F6;
	background-size: 100% 0%;
	background-repeat: no-repeat;

	.About {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;
		padding: 120px 0 107px 0;

		h2 {
			font-size: 34px;
			line-height: 42px;
			font-weight: bold;
		}

		p {
			font-size: 18px;
			line-height: 22px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

#About-me:hover {
	background-size: 100% 100%;
}

#Skills {

	.opportunities {
		text-align: center;
		padding-top: 91px;

		h2 {
			font-size: 34px;
			line-height: 42px;
			font-weight: bold;
		}

		p {
			font-size: 18px;
			line-height: 22px;
			padding: 69px 0 83px 0;
		}
	}

	.items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.items__item {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: center;
			

			img {
				max-height: 89px;
				max-width: 89px;
			}

			p {
				padding: 24px 0 40px 0;
				font-size: 14px;
				line-height: 17px;
				font-weight: bold;
				color: #828282;
			}

			.stars {
				margin-bottom: 0;

				.black {
					animation: stars  2s infinite;
				}

				@keyframes stars {
					100%{
						transform: rotateY(-360deg);
					}
				}

				img {
					padding: 4.5px;
					width: 26px;
					height: 26px;
				}
			}
		}
	}
}

#Portfolio {
	margin-top: 110px;
	background-color: #F6F6F6;

	.opportunities {
		text-align: center;
		padding: 112px 0 47px 0;

		h2 {
			font-weight: bold;
			font-size: 34px;
			line-height: 42px;
		}
	}

	.elements {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;

		.elements__elem {

			img {
				width: 100%;
				cursor: pointer;
			}

			img:hover {
				transform: scale(1.05);
				transition: all 1s;
			}

			img:not(:hover) {
				transform: scale(1);
				transition: all 1s;
			}

			p {
				padding: 45px 0 99px 0;
				cursor: pointer;
			}

			.elem-text {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-decoration-line: underline;
				color: #070707;
			}
		}
	}
}

#Contacts {

	.info {
		text-align: center;
		padding: 114px 0 123px 0;

		h2 {
			font-weight: bold;
			font-size: 34px;
			line-height: 42px;
			padding-bottom: 20px;
		}

		p {
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			padding-bottom: 29px;
		}

		.btn {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #FFFFFF;
			background: #070707;
			padding: 13px 29px;
			border-radius: 50px;
			cursor: pointer;
		}

		.social {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 342px;
			margin: auto;
			padding: 85px 0 45px 0;

			a {
				height: 40px;
				width: 40px;
				cursor: pointer;
			}
			
			.instagramm {
				background: url(img/instagramm.svg) center no-repeat;

			}

			.instagramm:hover {
				background: url(img/instagramm-color.svg) center no-repeat;
			}

			.telegramm {
				background: url(img/telegramm.svg) center no-repeat;
			}

			.telegramm:hover {
				background: url(img/telegramm-color.svg) center no-repeat;
			}

			.vk {
				background: url(img/vk.svg) center no-repeat;
			}

			.vk:hover {
				background: url(img/vk-color.svg) center no-repeat;
			}

			.discord {
				background: url(img/discord.svg) center no-repeat;
			}

			.discord:hover {
				background: url(img/discord-color.svg) center no-repeat;
			}
			
		}

		.wish {
			color: #828282;

			p {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			}
		}
	}
}

.wrapper {
	height: 100%;
	margin: auto;
	width: 940px;
}

@media screen and (min-width: 375px) and (max-width: 600px) {
	header {
		display: none;
	}

	#Home {
		margin-top: 64px;

		.burger {
			display: block;
			position: absolute;
			width: 33px;
			height: 19.19px;
			right: 30px;
			top: 68px;
			cursor: pointer;
			
		}

		.profile {
			flex-direction: column;
			align-items: flex-start;

			.profile__info {
				padding: 23px 0 37px;
			}

			.profile__leng {
				display: none;
			}
		}

		picture {

			img {
				padding-top: 0;
			}
		}
	}

	#About-me {
		margin-top: 83px;

		.About {
			padding: 81px 0 76px 0;

			p {
				word-break: inherit;

				br {
					display: none;
				}
			}
		}
	}
	
	#Skills {
		margin-top: 83px;
		margin-bottom: 17px;

		.opportunities {
			
			p {
				padding: 50px 0 71px 0;
			}
		}

		.items {
			flex-flow: column wrap;

			.items__item {
				padding-bottom: 81px;
			}
		}
	}

	#Portfolio {
		margin: 81px 0 3px;

		.opportunities {
			padding-bottom: 65px;
		}

		.elements {
	
			.elements__elem {
	
				p {
					padding: 33px 0 78px 0;
				}
			}
		}	
	}

	#Contacts {
		margin: 82px 0 90px;

		.info {

			p {
				padding: 27px 0 40px;
			}

			.btn {
				padding: 10px 85px;
				border-radius: 50px;
			}

			.social {
				width: 315px;
			}
		}	
	}
	
	.wrapper {
		height: 100%;
		margin: auto;
		width: 316px;
	}
}

@media screen and (min-width: 600px) and (max-width: 950px) {
	.wrapper {
		height: 100%;
		margin: auto;
		width: 580px;
	}
}