// About-me

.About-me {
	margin-top: 104px;
	background: rgb(173,42,210);
	background: linear-gradient(180deg, rgba(173,42,210,0.5508403190377713) 40%, rgba(0,212,255,0) 100%);
	transition: 3s ease-in;
	background-color: #F6F6F6;
	background-size: 100% 0%;
	background-repeat: no-repeat;

	.About {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;
		padding: 120px 0 107px 0;

		p {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

.About-me:hover {
	background-size: 100% 100%;
}

@media screen and (min-width: 375px) and (max-width: 600px) {
    // media 375-600 About-me

	#About-me {
		margin-top: 83px;

		.About {
			padding: 81px 0 76px 0;

			p {
				word-break: inherit;

				br {
					display: none;
				}
			}
		}
	}
}